body {
  font-family: sans-serif;
  text-align: center;
  background-color: #eef;
  margin: 0;
  padding: 0;
}

#game-area {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  border: 2px solid #333;
  background-color: #fff;
}

.ball {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: transform 0.9 s ease;
}

.ball:active {
  transform: scale(1.2);
}
